<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="static/dark.css">
</head>

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>House Valuation Predictor</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12">
                           <input class="form-control" type="text" name="address" placeholder="Street Address" required>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="text" name="bedroom" placeholder="Number of bedrooms" required>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="number" name="sqf" placeholder="Square feet (area)" required>
                        </div>

                       <div class="col-md-12">
                           <select class="form-select mt-3" required>
                               <option selected disabled value="">Property Style</option>
                               <option value="Detached">Detached</option>
                               <option value="Semi-detached">Semi-detached</option>
                               <option value="Terrace">Terrace</option>
                           </select>
                       </div>

                       <div class="col-md-12">
                           <select class="form-select mt-3" required>
                               <option selected disabled value="">Age (Victorian, Georgian, etc)</option>
                               <option value="Victorian">Victorian</option>
                               <option value="Georgian">Georgian</option>
                               <option value="1950">1950</option>
                               <option value="1930">1930</option>
                           </select>
                       </div>

                       <div class="col-md-12">
                           <input class="form-control" type="number" name="condition" placeholder="Condition(1 to 5)"
                               required>
                       </div>

                       <div class="col-md-12">
                           <input class="form-control" type="number" name="garden" placeholder="Garden Size (1-3)"
                               required>
                       </div>


                       <div class="col-md-12 mt-3">
                           <label class="mb-3 mr-1" for="parking">Parking included: </label>

                           <input type="radio" class="btn-check" name="parking" id="yes" autocomplete="off" required>
                           <label class="btn btn-sm btn-outline-secondary" for="yes">Yes</label>

                           <input type="radio" class="btn-check" name="parking" id="no" autocomplete="off" required>
                           <label class="btn btn-sm btn-outline-secondary" for="no">No</label>

                       </div>

                       <div class="col-md-12">
                           <input class="form-control" type="number" name="bathroom" placeholder="Number of bathrooms"
                               required>
                       </div>

                       <div class="col-md-12">
                           <input class="form-control" type="number" name="location" placeholder="Location rating"
                               required>
                       </div>
              

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>